 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 .navbar {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     max-width: 100vw;
     background-color: #ffffff;
     text-decoration: none;
     height: 60px;
     padding: 0 20px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
     font-family: "Quicksand", sans-serif;
     position: sticky;
     top: 0;
     z-index: 1000;
    
 }


 .navbar .box {
     display: flex;
     align-items: center;
     gap: 25px;
 }


 .navbar .box img {
     width: 80px;
     height: 35px;
     object-fit: contain;
     cursor: pointer;
     display: block;
 }


 .navbar .box #letter {
     text-decoration: none;
     font-size: 13px;
     font-weight: 500;
     color: #212121;
     padding: 5px 10px;



     transition: all 0.2s ease-in-out;
 }


 .navbar .box #letter:hover {
     color: #ff3f6c;


 }


 .navbar .box #letter.red {
     color: #ff3f6c;
     font-weight: 600;
     border-bottom: 2px solid red;




 }

 .navbar .box #letter.green {
     color: #212121;
     font-weight: 500;

 }

 .search {
     display: flex;
     align-items: center;
     background-color: #f5f5f6;
     padding: 12px 0px 12px;
     border-radius: 40px;
     min-width: 500px;
     height: 15px;



 }

 .search img {

     object-fit: contain;
     opacity: 0.7;




 }

 .search input {
     border: none;
     flex: 1;
     outline: none;
     background: transparent;
     padding: 5px 0px 5px;

     font-size: 14px;
     font-family: "Quicksand", sans-serif;

     color: #333;
 }

 .search input::placeholder {
     color: #999;
     font-weight: 400;
 }
 .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* padding: 5px 10px; */
    margin-left:10%;
    transition: 0.2s ease;
    text-decoration: none;
}

.profile img {
    width: 5px;
    height: 5px;
    object-fit: contain;
}

.profile p {
    margin: 2px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

 

 
.wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* padding: 5px 10px; */
    margin-left:0%;
    
    transition: 0.2s ease;
    text-decoration: none;
     

}
.wishlist img{
     width: 5px;
    height: 5px;
    object-fit: contain;
}
.wishlist p{
    margin: 2px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

.Login {
        
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
   
}

.Login img {
  width: 20px;
  height: 20px;
}

.Login p {
  margin: 0;
  color: #333;
  font-size: 12px;
 white-space: nowrap;
}


