.home {
    max-width: 100vw;
    overflow: hidden;
}

.crouse {

    display: flex;
    animation-name: dj;
    animation-timing-function: ease;
    animation-duration: 50s;
    animation-iteration-count: infinite;


}

.crouse img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    flex-shrink: 0;

}

@keyframes dj {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-100%);
    }

    30% {

        transform: translateX(-100%);

    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-100%);
    }

    90% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}