 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1%;
    flex-wrap: wrap;
 }

.compose {
  width: 220px;
  padding: 10px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transition: 0.3s ease;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0px 0px 5px grey;
}
 
 


.compose img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

 
.compose p {
  margin: 6px 0;
  font-size: 16px;
  font-weight: 500;
}

 
.compose p:nth-child(3) {
  font-size: 14px;
  color: #555;
}

 
.vix {
  display: flex;
  gap: 8px;
  align-items: center;
}

 
.vix p:first-child {
  font-weight: 600;
}

 
.me {
  text-decoration: line-through;
  color: gray;
}
.vix p:last-child {
 color :black;
  font-weight: 600;
}

.compose .me{
    text-decoration: line-through;
    color: #555;
}
.vix{
    display: flex;
    align-items: center;
    
    gap: 10px;
}