  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  .signup {
    width: 350px;
    margin: 70px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    font-family: "Quicksand", sans-serif;

  }
  .signup form {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
  }

  .signup label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
  }

  .signup input[type="text"],
  .signup input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease;
  }

  .signup input[type="text"]:focus,
  .signup input[type="password"]:focus {
    border-color: #007bff;
  }

  .signup input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Quicksand", sans-serif;
  }

  .signup input[type="submit"]:hover {
    background: #0056b3;
  }

  .signup p {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #e60000;
  }

  @media screen and (max-width:600px) {
    .signup {
      width: 95%;
      padding: 15px;

      padding: 25px;
      margin: 470px;

    }

  }