 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.women {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 24px;
  padding: 24px 40px;
  background-color: #f4f4f5;
}

 
.shirt-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
   font-family: "Quicksand", sans-serif;
}

.shirt-item:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

 
.shirt-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 2px;
}

 
.brand {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #282c3f;
}
.desc {
  font-size: 14px;
  color: #535766;
  margin: 4px 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price {
  font-size: 15px;
  font-weight: 600;
  color: #282c3f;
}

.actual {
  font-size: 13px;
  color: #7e818c;
  text-decoration: line-through;
}

.discount {
  font-size: 13px;
  font-weight: 600;
  color: #ff905a;  
}
